<!--<div class="se-pre-con"></div>-->
<div class="wrapper">

    <app-side-menu></app-side-menu>
    <!--Page Content Holder -->
    <div id="content">
        <!-- top-bar -->
        <app-header></app-header>
        <!--// top-bar -->

        <router-outlet></router-outlet>

        <!-- Copyright -->
        <div class="copyright-w3layouts py-xl-3 py-2 mt-xl-5 mt-4 text-center">
            <p>© 2018 Farming . All Rights Reserved | Design by

        </div>
        <!--// Copyright -->
    </div>
</div>