
 <!-- Forms-3 -->
 <div class="outer-w3-agile mt-3">
    <h4 class="tittle-w3-agileits mb-4 ">Profile</h4>
        <div class="row">
            <div class="form-group col-md-6">
               <h5>Name</h5>
            </div>
            <div class="form-group col-md-6">
               <p>{{users.firstName}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
               <h5>Last Name</h5>
            </div>
            <div class="form-group col-md-6">
               <p>{{users.lastName}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
               <h5>Email</h5>
            </div>
            <div class="form-group col-md-6">
               <p>{{users.email}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
               <h5>Work Location</h5>
            </div>
            <div class="form-group col-md-6">
               <p>{{users.workLocation}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
               <h5>Mobile</h5>
            </div>
            <div class="form-group col-md-6">
               <p>{{users.mobile}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
               <h5>User Type</h5>
            </div>
            <div class="form-group col-md-6">
               <p>{{users.userType}}</p>
            </div>
        </div>
</div>
<!--// Forms-3 -->

